http {
  server {
    listen 80; # Listen on port 80
    server_name your_domain_name; # Replace with your domain name or IP

    location / {
      # Forward requests to the React app container (frontend)
      proxy_pass http://frontend:3000/; # Adjust port if needed
      proxy_set_header Host $host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_cache_bypass $http_upgrade;
      proxy_buffering off;
    }

    location /api/ {  # Handle backend API requests
      # Forward requests to the Node.js app container (backend)
      proxy_pass http://backend:your_backend_port/;  # Replace with actual port
      proxy_set_header Host $host;
      proxy_set_header X-Real-IP $remote_addr;
    }
  }
}